
@{
    ViewBag.Title = "Index";
}

<div>
    <h1>關於作者</h1>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>

<div class="row">
    <div class="col-md-4">
      <img width="300" height="200" src="http://www.eventaiwan.tw/d_upload_tour100/activity/image/A0/B0/C0/D0/E7/F152/9629a86d-5e4d-47fc-af31-9839fec0516b.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Hi~我是劉韋宏，也可以叫我ERIC。</h2>
        <br />
        <p>
            職業:軟體工程師。正在程式開發的道路上。
        </p>
        <br />
        <p>聯絡方式: mort0506@gmail.com</p>
    </div>
</div>